data/** filter=lfs diff=lfs merge=lfs -text
results/heldout_all_components_anim.gif filter=lfs diff=lfs merge=lfs -text
results/extrapolation_all_components_anim.gif filter=lfs diff=lfs merge=lfs -text
